<h1>Editing pin</h1>

<%= render 'form' %>

<%= link_to pins_path, class: "action_links" do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
  Back
<% end %>
|
<%= link_to @pin, class: "action_links" do %>
  <span class="glyphicon glyphicon-eye-open"></span>
  Show
<% end %>

